@charset "UTF-8";

.wrap {
	
	box-sizing: border-box;
	width: auto;
	margin-top: 10px;
}



.head {
	display: block;
	margin: auto;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}

.productList {
	margin: auto;
	width: auto;
}

.pt {
	margin: auto;
	width: 1000px;
}

.pt th {
	padding: 10px;
	font-size: 19px;
	background-color: black;
	color: white;
}

.pt tbody td:nth-of-type(1) {
	text-align: center;
    width: 20%;
    padding: 10px;
}

.pt tbody td:nth-of-type(2) {
    width: 30%;
    text-align: left;
    padding: 10px;
    font-size: 17px;
}

.pt tbody td:nth-of-type(3) {
    width: 15%;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.pt tbody td:nth-of-type(4) {
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.pt tbody td:nth-of-type(5) {
    width: 15%;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

input[type="text"] {
	
	width: 150px;
}




